@import url("reset.css");


body {
  font-family: "Raleway", sans-serif;
  overflow: "hidden"
}

a {
  color: #f4acb7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: #8f5761;
  }
}

@stylex stylesheet;